*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: whitesmoke;
}
h1{
    color: coral;
    text-align: center;
    margin: 10px auto;
}
#clock
{
    height: 40vw;
    width: 40vw;
    margin: 20px auto;
    /* border: 2px solid red; */
    background: url(clock.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    transform-origin: bottom;

}
#hour {
    width: 1.7%;
    height: 24.2%;
    border-radius: 4px;
    top: 25.5%;
    left: 49.2%;
    /* display: none; */
    
}
#minute{
    width: 1.2%;
    height: 27.1%;
    border-radius: 4px;
    top: 23.7%;
    left: 49.5%;
    /* background-color: red; */
    /* display: none; */
}
#second{
    width: 0.8%;
    height: 29.4%;
    border-radius: 4px;
    top: 20.5%;
    left: 49.5%;
    /* background-color: green; */
}
#dot
{
    height: 5%;
    width: 5%;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 48.4%;
    left: 47.7%;
}